<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.html.ejs') %>
  </head>
  <body>
    <!-- NAV -->
      <%- include('../partials/nav.html.ejs') %>
      <!-- MAIN STUFF-->
      <div class="container">
        <div class="workout-container">
          <div class="img1"></div>
          <div class="img2"></div>
          <div class="img3"></div>
        </div>
      <h3>Found a partner and need some workout ideas?</h3>
    </div>
    <footer class="page-footer">
        <%- include('../partials/footer.html.ejs') %>
    </footer>
  </body>
</html>
