body {
  font-family: 'Montserrat', sans-serif;
}

h1, .search-data > h3, .offer-data > h3 {
  font-family: 'Courgette', cursive;
}

a {
  color: black;
}

/* NAV */
nav img {
  width: 50px;
  height: 50px;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.footer1, .footer2, .footer3 {
  width: 31%;
}

footer img {
  width: 75px;
  height: 75px;
}

footer a {
  color: white;
}

.fa {
  padding: 1em .5em 1em .5em;
  color: white;
}

/* HOME PAGE */
.data-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.offers-display, .searches.display {
  width: 48%;
  padding: 0 1em;
}

.banner {
  background-image: url("https://i.ibb.co/WfsB0gS/mitts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: white;
  opacity: .7;
}

.banner h1 {
  padding: .5em 1em 5em 1em;
}

.banner h3 {
  padding: 2em;
}

.static-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 1em 0 1em 0;
}

.about, .works {
  width: 48%;
}


.secondbanner {
  background-image: url("https://i.ibb.co/JCqKY92/escrima.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  text-align: center;
  color: white;
  opacity: .7;
  margin-bottom: 1em;
}


/* INDEX PAGES */

.search-data > h3, .offer-data > h3 {
  text-align: center;
  margin: .5em 0 .5em 0;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 15px;
  margin: 1em 0 1em 0;
}

.form-img {
  background: url("https://i.ibb.co/Dbkh3Pm/pads.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
}

.search-form-img {
  background: url("https://i.ibb.co/mHxpbnL/wrappinghands.jpg");
  filter: grayscale(100%);
}

.new-form {
  width: 37%;
  align-self: center;
  padding: 0 1em 0 1em;
}

.match-btn {
  border-radius: 15px;
  margin-bottom: 1em;
  text-align: center;
}

/* SHOW PAGES */
.edit-card {
  width: 600px;
  text-align: center;
  align-self: center;
  margin: 2em 20em 2em 25em;
  background-image: url("https://i.ibb.co/hdB4dfp/Fitness-training-with-kettlebell-in-sport-gym-with-sunlight-effect.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
}
.action-btns {
  display: flex;
  justify-content: space-around;
}

.edit-btn, .delete-btn {
  width: 5em;
  height: 2em;
  border: 1px solid black;
  background-color: whitesmoke;
}

 /* MATCHES */
 .carousel, .carousel-item > img {
   max-width: 700px;
   max-height: 700px;
   align: center;
 }

.carousel {
  margin: auto;
}

.matches-table {
  margin-top: 1em;
}

.matches-header {
  text-align: center;
  padding-top: 1em;
}

/* WORKOUTS */
.workout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}

.img1 {
  background-image: url("https://i.ibb.co/56KPxQC/flyingkick.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img2 {
  background-image: url("https://i.ibb.co/C6s3R1q/autumnjose.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img3 {
  background-image: url("https://i.ibb.co/gdtw8Rq/sidekick.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img1, .img2, .img3 {
  width: 350px;
  height: 450px;
}

.img1 img, .img2 img, .img3 img {
  max-width: 300px;
  max-height: 400px;
}

.img1, .img3 {
  width: 24%;
  filter: grayscale(100%);
}

.img2 {
  width: 50%;
  padding: 0;
}

.workout-text{
  text-align: center;
  margin: 1em 0 1em 0;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 32%;
  margin-bottom: 1em;
}

#mobile-display {
  display: none;
}

@media (max-width: 375px) {
  #desktop-display {
    display: none;
  }
  #mobile-display {
    display: block;
  }
  .mobile-workout-container {
    background-image: url("https://i.ibb.co/C6s3R1q/autumnjose.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 300px;
  }

  .workout-container {
    display: none;
  }

  .cards-container {
    display: block;
  }
  .card {
    width: 100%;
    margin-bottom: 1em;
  }
  .footer1 {
    padding: 2em 0 0 0;
  }
  .fa {
    padding: 2em 0 0 0;
  }
  input {
    width: 120px;
  }
  .new-form {
    padding: 0;
  }

  footer img {
    width: 50px;
    height: 50px;
  }

  .edit-card {
    text-align: justify;
    margin: .5em 0 .5em 0;
  }

  .navbar-toggler {
    margin: 0 0em 0 10em;
  }

  footer {
    font-size: .5em;
  }
}
