body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Courgette', cursive;
}

a {
  color: black;
}

/* NAV */
nav img {
  width: 50px;
  height: 50px;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.footer1, .footer2, .footer3 {
  width: 31%;
}

footer img {
  width: 75px;
  height: 75px;
}

footer a {
  color: white;
}

.fa {
  padding: 1em .5em 1em .5em;
  color: white;
}

/* HOME PAGE */
.data-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.offers-display, .searches.display {
  width: 48%;
  padding: 0 1em;
}

.banner {
  background-image: url("https://i.ibb.co/WfsB0gS/mitts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: white;
  opacity: 70%;
}

.banner h1 {
  padding: .5em 1em 2em 1em;
}

.banner h3 {
  padding: 2em;
}

.static-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.about, .works {
  width: 48%;
}


.secondbanner {
  background-image: url("https://i.ibb.co/JCqKY92/escrima.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  text-align: center;
  color: white;
  opacity: 70%;
  margin-bottom: 1em;
}


/* INDEX PAGES */

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 15px;
  margin-bottom: 2em;
}

.form-img {
  background: url("https://i.ibb.co/Dbkh3Pm/pads.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
}

.new-form {
  width: 37%;
  align-self: center;
  padding: 0 1em 0 1em;
}

/* SHOW PAGES */
.edit-card {
  text-align: center;
  align-self: center;
  margin: 5em 15em 5em 15em;
  background-image: url("https://i.ibb.co/hdB4dfp/Fitness-training-with-kettlebell-in-sport-gym-with-sunlight-effect.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 80%;
}
.action-btns {
  display: flex;
  justify-content: space-around;
}

.edit-btn, .delete-btn {
  width: 5em;
  height: 2em;
  border: 1px solid black;
  background-color: whitesmoke;
}

 /* MATCHES */
 .carousel, .carousel-item > img {
   max-width: 600px;
   max-height: 700px;
   align: center;
 }

.carousel {
  margin: auto;
}
