body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Courgette', cursive;
}

a {
  color: black;
}

/* NAV */
nav img {
  width: 50px;
  height: 50px;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.footer1, .footer2, .footer3 {
  width: 31%;
}

footer img {
  width: 75px;
  height: 75px;
}

footer a {
  color: white;
}

.fa {
  padding: 1em .5em 1em .5em;
  color: white;
}

/* HOME PAGE */
.data-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.offers-display, .searches.display {
  width: 48%;
  padding: 0 1em;
}

.banner {
  background-image: url("https://i.ibb.co/WfsB0gS/mitts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: white;
  opacity: 70%;
}

.banner h1 {
  padding: .5em 1em 2em 1em;
}

.banner h3 {
  padding: 2em;
}
