<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.html.ejs') %>
  </head>
  <body>
    <!-- NAV -->
      <%- include('../partials/nav.html.ejs') %>
      <div class="container">
      </div>
      <footer class="page-footer">
          <%- include('../partials/footer.html.ejs') %>
      </footer>
  </body>
</html>
