<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.html.ejs') %>
  </head>
  <body>
    <!-- NAV -->
      <%- include('../partials/nav.html.ejs') %>
      <div class="container">
        <div class="main-form login-form">
          <h3>Sign In</h3>
          <ul>
          <% if(messages.success_msg) { %>
            <li><%=messages.success_msg %></li>
          <% } %>
          </ul>
          <form action="/login" method="POST">
            <input type="text" id="username" name="username" placeholder="username" autofocus><br />
            <input type="password" id="password" name="password" placeholder="password"><br />
            <input class="submitButton" type="submit" value="LOGIN">
          </form>
          <p>Or <a href="/register">SIGN UP</a> if you do not have an account.</p>
        </div>
      </div>
      <footer class="page-footer">
          <%- include('../partials/footer.html.ejs') %>
      </footer>
  </body>
</html>
